* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

.background img {
    width: 100% !important;
    object-fit: cover;
    height: 100vh;
}

.form {
    padding: 0px 5rem !important;
    margin-top: 25px !important;
    display: block !important;
}

.form h4 {
    font-size: 25px !important;
    text-align: center;
}

.fields {
    position: relative;
    padding: 5px !important;
}

.fields input[type="email"],
.fields input[type="password"],
.fields input[type="text"] {
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 5px 15px !important;
    border: 1px solid rgb(214, 208, 208);
    outline: none;
}

.fields label {
    display: inline-block !important;
    margin-bottom: 5px !important;
    margin-top: 15px !important;
    font-weight: 600;
    color: #ffff;
}

.fields button {
    width: 100%;
    padding: 7px 0 !important;
    border: none;
    background-color: rgb(99, 0, 212);
    border-radius: 5px;
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
}

.fields button:hover {
    background-color: #7F00FF;
}

.form li {
    position: absolute;
    right: 5.5rem;
    margin: 5px 0 !important;
}

.fields p {
    position: absolute;
}

.fields input[type="checkbox"] {
    margin-top: 15px !important;
}

.back {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #355479, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}